.container {
	color: #333;
	padding: 20px;
	margin: 20px;
	transition: all 300ms ease-in-out;
}
.container:hover .skills_container {
	box-shadow: 26px 26px 51px #d6d6d6, -26px -26px 51px #e8e8e8;
}
.skills_container {
	transition: all 300ms;
	border-radius: 16px;
	background: #fff;
	box-shadow: 26px 26px 51px #e8e8e8, -26px -26px 51px #e9f1ff;
}
.skills_container_f {
	border-top-left-radius: 0px;
}
.tab {
	transition: all 300ms;
}
