.image {
	border: 5px solid #4a8cfc;
	border-radius: 175px;
	overflow: hidden;
	transition: 300ms all ease-in-out;
}
.nav_toggle .image {
	border: 25px solid #4a8cfc;
}

.fillSquare {
	height: 95px;
	width: 200px;
	background-color: #4a8cfc;
	position: absolute;
}
.nav_toggle {
	margin-top: -180px;
	filter: opacity(0.7);
}
.buttonUpDown {
	background-color: #4a8cfc;
	border: 0;
	border-radius: 50px;
	font-size: 35px;
	color: #fff;
	position: relative;
	left: 76px;
	bottom: 17px;
	padding: 5px 10px;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}
.buttonUpDown:hover {
	background-color: #fff;
	color: #333;
}
.nav_toggle .buttonUpDown {
	transform: rotateZ(180deg);
}
.childContainer {
	display: absolute;
}
.childWrap {
	position: relative;
	background-color: #4a8cfc;
	border: 2px solid #fff;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 25px;
	color: #fff;
	transition: 300ms ease-in-out;
	font-size: 25px;
}
.childWrap:hover {
	background-color: #fff;
	color: #333;
	filter: opacity(1);
}
.childWrap:nth-child(1) {
	left: 70px;
	top: 5px;
}
.childWrap:nth-child(2) {
	left: 105px;
	bottom: 22px;
}
.childWrap:nth-child(3) {
	left: -135px;
	bottom: 22px;
}
.tooltip {
	transition: 300ms ease-in-out !important;
}
.nav {
	position: fixed;
	z-index: 999;
	top: 0;
	transition: 300ms all ease-in-out;
}

/*
Mobile
*/
@media screen and (max-width: 870px) {
	.image {
		border: 25px solid #4a8cfc;
	}
	.nav {
		margin-top: -180px;
		margin-left: 20%;
	}
}
