.project_container {
	background: #fff;
	box-shadow: 26px 26px 51px #e8e8e8, -26px -26px 51px #e9f1ff;
	color: #333;
	padding: 20px;
	margin: 20px;
	border-radius: 16px;
	transition: all 300ms ease-in-out;
}
.project_container:hover {
	box-shadow: 26px 26px 51px #d6d6d6, -26px -26px 51px #e8e8e8;
}
.project_container h3 {
	font-family: "Space Mono", monospace;
}
.image_container {
}
.project_content {
}
