.sociallink {
	font-size: 24px;
	padding: 8px 10px;
	margin: 10px;
	border-radius: 25px;
	transition: all 300ms ease-in-out;
  color: rgba(255, 255, 255, 0.7);
	border-radius: 85px;
	background: #4a8cfc;
	box-shadow: 9px 9px 18px #437fe5, -9px -9px 18px #5199ff;
}
.sociallink:hover {
  color: #fff;
	background: #4a8cfc;
	box-shadow: 9px 9px 18px #3a6fc7, -9px -9px 18px #5aa9ff;
}
