.omnybutton{
  border-radius: 8px;
  font-family: 'Roboto Mono', monospace;
  padding: 15px 24px;
  margin: 10px;
  font-size: 18px;
  box-shadow: 0px 0px 20px -1px #43434340;
  transition: all 300ms ease-in-out;
  display: inline-block;
}
.icon{
  margin-left: 12px;
}

.default{
  background-color: #4a8cfc;
  border: 2px solid #4a8cfc;
  color: #fff;
}.default:hover{
  color: #333;
  background-color: transparent;
}

.outline{
  background-color: #fff;
  border: 2px solid #fff;
  color: #333;
}.outline:hover{
  border: 2px solid #4a8cfc;
  background-color: #4a8cfc;
  color: #fff;
}