.box {
  box-shadow: #333;
  padding: 15px;
  margin: 10px;
	border: 3px solid #fdd;
	display: inline-block;
	position: relative;
	width: 400px;
	height: 300px;
}
.box_bottom {
	position: absolute;
	bottom: 0px;
}
.desc {
	position: relative;
	bottom: 0;
	font-weight: 100;
	color: #555;
}
.title {
	color: #333;
	font-weight: 600;
	font-size: 24px;
	font-family: Ubuntu, sans-serif;
}
