.container {
}
.img {
	transform: scale(0.9);
	transition: all 300ms;
}
.img:hover {
	transform: scale(1);
}
.name {
	margin-top: 5px;
	display: block;
	text-align: center;
	font-size: 20px;
	font-family: "Space Mono";
}
