@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&family=Roboto:wght@300;400&family=Space+Mono:wght@400;700&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

strong {
	color: #4a8cfc;
}

a {
	color: inherit;
	text-decoration: none;
}
q{
	color: #172b4e;
	font-weight: bold;
	font-style: italic;
}

h1,h2,h3{
	font-family: 'Space Mono', monospace;
}
ul, li{
	font-family: 'Roboto Mono', monospace;
}li{
	line-height: 1.3rem;
	color: #333;
	font-size: 15px;
}
p{
  font-family: 'Roboto Mono', monospace;
}

* {
	box-sizing: border-box;
}

.__react_component_tooltip {
	font-family: "Space Mono", monospace;
}
