.header {
	padding: 0px 15%;
	padding-bottom: 200px;
	background-image: url("/body-bg.png");
	background-position: center;
}

.headerdesc {
	margin: 0 auto;
	max-width: max-content;
	width: 75%;
	margin-left: 50%;
	overflow: hidden;
	padding-top: 140px;
}

.headerdesc .iam {
	font-family: "Space Mono", monospace;
	margin-top: 20px;
}
.headerdesc h1 {
	margin-top: 8px;
	margin-bottom: 5px;
	width: max-content;
	background: rgb(74, 140, 252);
	font-family: "Roboto Mono", monospace;
	background: linear-gradient(
		45deg,
		rgba(74, 140, 252, 1) 30%,
		rgba(157, 74, 252, 1) 100%
	);
	border-radius: 3px;
	font-size: 56px;
}
.headerdesc h1 > strong {
	padding: 10px;
	color: #fff;
}
.headerdesc p {
	text-transform: uppercase;
	font-family: "Space Mono", monospace;
}

.main {
}
.article {
	margin: 0;
	padding: 50px 0px;
}
.article > .articlecontent {
	max-width: 850px;
	margin: 0 auto;
	width: 70%;
}
.about {
	background-color: #fbfcfd;
	color: #555;
}
.about .iam {
	margin-left: 5px;
	font-size: 20px;
	font-family: "Space Mono", monospace;
}
.recherchestage {
	font-size: 24px;
	font-style: italic;
	color: #333;
}
.about h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 72px;
}
.about h2 {
	margin-left: 5px;
	font-size: 48px;
}
.about p {
	font-size: 18px;
	margin-left: 5px;
}
.project {
	background-color: #e9f1ff;
}
.project > .articlecontent {
	max-width: 1100px;
	margin: 0 auto;
	width: 80%;
}
.project .projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.project h1 {
	margin-top: 0;
	margin-left: 5px;
	font-size: 50px;
	color: #444;
}
.project span {
	font-family: "Roboto Mono";
	font-weight: bold;
	color: #333;
}

h2.subtitle {
	margin-left: 10px;
	color: #222;
}

.experiences {
}

.footer {
	padding: 25px;
	text-align: center;
	color: #fff;
	background-color: #4a8cfc;
}
.sociallinks {
	padding: 35px 0;
}

/*
Media */
@media screen and (max-width: 870px) {
	.headerdesc {
		margin-left: 0vw;
		max-width: 100%;
		width: 100%;
		margin: 0;
	}
	.header {
		padding: 0px 10px;
		padding-bottom: 40px;
	}
	.projects {
		grid-template-columns: 1fr !important;
		gap: 30px;
	}
	.headerdesc h1 {
		font-size: 40px;
	}
	.article > .articlecontent {
		width: 100%;
		max-width: 90%;
	}
	.project h1 {
		font-size: 36px;
	}
	.about h1 {
		font-size: 50px;
	}
	.about h2 {
		font-size: 38px;
	}
}
